<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test.mapper.UserInfoMapper">
  <resultMap id="BaseResultMap" type="test.model.UserInfo">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="usertype" jdbcType="VARCHAR" property="usertype" />
    <result column="enabled" jdbcType="INTEGER" property="enabled" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="qq" jdbcType="VARCHAR" property="qq" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
  </resultMap>
</mapper>