<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tk.mybatis.solon.test.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="tk.mybatis.solon.test.entity.User">
    <!--@mbg.generated generated on Tue Apr 02 11:30:50 CST 2024.-->
    <!--@Table `user`-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="is_del" jdbcType="BOOLEAN" property="isDel" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Tue Apr 02 11:30:50 CST 2024.-->
    id, `name`, age, create_time, is_del
  </sql>

  <select id="findByName" resultMap="BaseResultMap">
    SELECT
      <include refid="Base_Column_List" />
    FROM user
    <where>
      is_del = 0 AND name = #{name}
    </where>
  </select>
</mapper>